body {
  background-color: #383B53;
  color: #4DAA57;
  font-family: 'Rubik', sans-serif;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

.artist-list {
  padding: 13px;
}

.jumpstop-article {
  border: solid 2px #587D71;
  padding: 5px; 
  justify-content: flex-start; 
  width: 250px;
  margin: 2px;
}

.polar-article {
  border: solid 2px #587D71;
  padding: 5px; 
  justify-content: flex-start; 
  width: 250px;
  margin: 2px;
}

.chatten-article {
  border: solid 2px #587D71;
  padding: 5px; 
  justify-content: flex-start; 
  width: 250px;
  margin: 2px;
}

.labels {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #4DAA57;
}

a:hover {
  background-color: #BAABBD;
}